.weLoveYouCoach {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 600px;
}
.emily {
  border-bottom: 2px solid black;
  padding: 600px;
}
.bebe {
  border-bottom: 2px solid black;
  padding: 600px;
}
.edward {
  border-bottom: 2px solid black;
  padding: 600px;
}
.youn {
  border-bottom: 2px solid black;
  padding: 600px;
}
.richard {
  border-bottom: 2px solid black;
  padding: 600px;
}
.sarah {
  border-bottom: 2px solid black;
  padding: 600px;
}
.joshua {
  border-bottom: 2px solid black;
  padding: 600px;
}
.luna {
  border-bottom: 2px solid black;
  padding: 600px;
}
.david {
  border-bottom: 2px solid black;
  padding: 600px;
}
.rebecca {
  border-bottom: 2px solid black;
  padding: 600px;
}
